h1,h2,h3,h4,div{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 40px;
    color: red;
}

h2{
    color: blue;
}
/* p {
    color: green;
} */

input {
    height: 20px;
}

button {
    color: white;
    background-color: red;
    height: 25px;
    border: none;
}

button:hover {
    height: 25px;
    font-size: 18px;
    color: white;
    background-color: green;
}

div {
    margin: 200px;
}

h3,h4 {
    margin: 200px;
    font-size: 25px;
}